@model BlogTrackerProject.Models.Bloginfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bloginfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blogurl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blogurl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpemailNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpemailNavigation.Emailid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Blogid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
