@model IEnumerable<BlogTrackerProject.Models.Employeeinfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEmplist.cshtml";
}

<h1>Employee List</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passcode)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-danger" asp-route-id="@item.Emailid">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Emailid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
